<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.content.mapper.ContentMapper">

    <resultMap type="com.ruoyi.content.domain.Content" id="ContentResult">
        <result property="contentId" column="content_id"/>
        <result property="categroyId" column="categroy_id"/>
        <result property="conTopicId" column="con_topic_id"/>
        <result property="contentName" column="content_name"/>
        <result property="icon" column="icon"/>
        <result property="banner" column="banner"/>
        <result property="keywords" column="keywords"/>
        <result property="status" column="status"/>
        <result property="orderNum" column="order_num"/>
        <result property="recommend" column="recommend"/>
        <result property="content" column="content"/>
        <result property="expand" column="expand"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>
