<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.content.mapper.ConTopicMapper">

    <resultMap type="com.ruoyi.content.domain.ConTopic" id="ConTopicResult">
        <result property="conTopicId" column="con_topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="icon" column="icon"/>
        <result property="orderNum" column="order_num"/>
        <result property="description" column="description"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>